@import "tailwindcss";

@font-face {
  font-family: 'gotham narrow medium';
  src: url('../../public/gothamNarrowMedium.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'gotham narrow medium', sans-serif;
}


:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


.gap_div {
  gap: clamp(1.125rem, 0.4167rem + 1.4757vw, 2.1875rem);
  /*  35 -  18 */
}


.fontSize {
  font-size: clamp(2.375rem, 0rem + 4.9479vw, 5.9375rem);
  /*  95 -  38 */
  line-height: 1;
  text-align: left;
  font-weight: 500;
}






@media screen and (max-width: 768px) {
  .fontSize {
    /* 38 - 21 */
    font-size: clamp(1.3125rem, 0.0302rem + 4.8851vw, 2.375rem);
  }

  .gap_div {
    /* 18  -  11 */
    gap: clamp(0.6875rem, 0.1595rem + 2.0115vw, 1.125rem);
  }
}


